openai
anthropic
dotenv
langchain_openai
langchain_anthropic



# LangChain Libs
langchain
langchain-core
langchain-ollama

# OpenAI Libs
langchain-openai
openai

# Anthorpic Libs
langchain-anthropic

# Google Gemini (PaLM) Libs
langchain-google-genai
google-generativeai

# HuggingFace Libs
langchain-huggingface
transformers
huggingface-hub

# Environment Variables
python-dotenv

# Machine Learning Libs
numpy
scikit-learn


# -----------------

youtube-transcript-api
langchain-community
langchain-openai
faiss-cpu
tiktoken
python-dotenv
langchain-text-splitters
Ipython
grandalf


# -----------------

langchain
langchain-core
langchain-community
pydantic
duckduckgo-search
ddgs
langchain-experimental



# -----------------





# -----------------





# -----------------








# -----------------







# -----------------


